@charset "utf-8";
@use "../global" as *;
@keyframes flowing {
    0% { transform:translateX(0); }
    100% { transform:translateX(-5em); }
}
.freeRail{height: sp(113); background: url(../img/bg_free.webp) repeat-x left top / auto 100%; overflow: hidden; width: 100vw;
    span{@include spFontSize(114.82); font-family: $poppins; color: #fff; white-space: nowrap;
        animation: flowing 6s linear infinite; display: block;
    }
}
@include pcBreak(){
    .freeRail{min-width: $contents_width; height: pc(113); width: 100%;
        span{font-size:pc(114.82);}
    }
}