@charset "utf-8";
@use "../global" as *;
.contentsBody{max-width:inherit; padding:0; max-width: 100dvw; overflow-x: hidden;
    &::before{content:'';background:url(../../img/bg.webp) repeat-y left top / 100% auto; width:100dvw; height:100dvh; position:fixed; left:0; top:0;}
    .kv{position:relative;
        &_wrap{position:relative; overflow: hidden;}
        &_title{width: sp(669); height: sp(502); position: absolute; left: 50%; top: sp(-120); transform: translate(-50%,0); pointer-events: none; z-index: 10;}
        &_date {width:100%; height:auto; position:absolute; left:0; bottom:0; z-index:10;
            &::after {content:''; width:100%; height:100%; background:repeating-linear-gradient(-45deg, rgba(#ef4379,1), rgba(#ef4379,1) sp(6.5), rgba(#f2618f,1) sp(6.5), rgba(#f2618f,1) sp(13)); position:absolute; left:0; top:0; z-index:-1;}
        }
        &_ribon {margin:sp(38) sp(30) 0;
            &_bg {background-color:$lightblue; position:relative;
                &::before{content:'';
                    background:$lightblue;
                    background:linear-gradient(143deg, rgba(36,197,231,1) 0%, rgba(61,157,222,1) 60%, rgba(61,157,222,1) 100%);
                    width:100%; height:100%; position:absolute; left:0; top:0; opacity:0.79; z-index:0;
                }
            }
            &_title{position:relative; z-index:10;}
            &_text{position:relative; z-index:10; color:#fff; text-align:center; font-family:$mplus; line-height:lh(30,47); letter-spacing:-0.055em; padding:sp(40) 0 sp(50); font-feature-settings:'palt';
                b{color:#ffde00;}
            }
            &_mask{display:block; width:100%; z-index:5;
                -webkit-mask-image:url("../../img/kv_copy_mask.png");
                -webkit-mask-mode:alpha; -webkit-mask-repeat:no-repeat; -webkit-mask-size:100% 100%; -webkit-mask-position:center center;
                mask-image:url("../../img/kv_copy_mask.png"); mask-mode:alpha; mask-repeat: no-repeat; mask-size:100% 100%; mask-position:center center;
            }
        }
    }
    .sec1{padding:sp(41) sp(30) 0;
        &_wrap{background-color:#fff; border-radius:sp(18); overflow:hidden;}
        &_col:nth-child(even) {padding:sp(34) sp(30) sp(36);}
        &_text{@include spFontSize(33); line-height:lh(33,50); letter-spacing:-0.055em; padding:sp(3) sp(20) sp(0);
            b{color:$pink;}
        }
        .btn{margin-top:sp(30);}
    }
    .sec2{margin-top:sp(56); padding:0 sp(30);
        &_title{text-align:center; font-size:0; margin-bottom:sp(-5);} 
        &_title img{height:sp(78); width:auto; margin:0 auto ;}
        &_wrap{background-color:#fff; border-radius:sp(18); overflow:hidden; padding:sp(40); border:sp(6) solid $pink;}
        &_col:nth-child(even) {padding:sp(40) sp(30);}
        &_item{background-color:#aa86dc; border-radius:sp(18); overflow:hidden; padding-bottom:sp(36);
            &:nth-child(2) {background-color:#ac7d7d; margin-top:sp(40);}
            img{pointer-events:none;}
        }
        &_text{font-family:$mplus; color:#fff; padding:sp(25) sp(40) sp(23); letter-spacing:-0.015em;@include spFontSize(30); line-height:lh(30,48);
            b{color:$pink;}
        }
        .btn{margin-top:sp(0);
        }
    }
    .sec3{margin-top:sp(45); padding-bottom:sp(65);
        &_wrap{position:relative; width:100vw; height:sp(1347); padding-top:sp(816); overflow: hidden;
            .btn{margin-top:sp(58);}
            background: url("../../img/sec03_kv.webp") no-repeat center top / 100% auto;
        }
        &_point{position: absolute; height: sp(30); background-color: red; width: 100%; top: sp(450); opacity: 0;}
        &_kv{position:absolute; left:0; top:0; width:100%;}
        &_kv_text{color:#fff; padding:0 0 0 sp(40);
            span{background-color:#000; padding:0 sp(17); display:inline-block; font-feature-settings:"palt"; line-height:sp(60);
                @include spFontSize(33.8);
                b{color:#ffdf0a;}
            }
            span ~ span{margin-top:sp(11);}
        }
        &_title{font-size:0; margin-bottom:sp(91);}
        &_grid{display:flex; justify-content:center; flex-direction:column; align-items:center;}
        &_item{text-align:center; position:relative;
            &_img{width:sp(864); display:block; margin:0 auto; position:relative;}
            h4{color:$lightblue; @include spFontSize(46); font-weight:900; margin-top:sp(44); white-space:nowrap; letter-spacing:-0.035em;}
                .btn{margin-top:sp(30);
            }
        }
        &_item:nth-child(n+2){margin-top:sp(103);}
        &_text{@include spFontSize(30); font-weight:700; line-height:lh(30,48); margin-top:sp(20); color:#5a5a5a;
            b{color:$pink;}
        }
        &_pop{width:sp(219); height:sp(223); display:block; position:absolute; right:sp(-50); top:sp(-70); pointer-events:none;}
    }
    .sec4{padding:sp(70) sp(105) sp(130); position:relative;
        &::before{content:''; width:100%; height:100%; background:#fff; position:absolute; left:0; top:0; z-index:-1;}
        &::after {content:''; width:100%; height:100%; background:repeating-linear-gradient(-45deg, rgba(#b3f5fa,0.9), rgba(#b3f5fa,0.9) sp(12), rgba(#fff,0.9) sp(12), rgba(#fff,0.9) sp(24)); position:absolute; left:0; top:0; z-index:-1;}
        &_title{text-align:center; padding-bottom:sp(53);
            img{height:sp(71); width:auto;}
        }
        &_item{font-size:0; border-radius:sp(18); position:relative;
            &_title{background-color:rgba(#fff,0.7); height:sp(100); text-align:center;
                img{height:sp(100); width:auto;}
            }
            &_text{@include spFontSize(30); line-height:lh(30,48); color:#5a5a5a; padding:sp(26) sp(55) sp(36);
                b{color:$pink;}
            }
            &_mask{display:block; width:100%; z-index:5;
            -webkit-mask-image:url("../../img/sec04_item-mask.png");
            -webkit-mask-mode:alpha; -webkit-mask-repeat:no-repeat; -webkit-mask-size:100% 100%; -webkit-mask-position:center center;
                mask-image:url("../../img/sec04_item-mask.png"); mask-mode:alpha; mask-repeat: no-repeat; mask-size:100% 100%; mask-position:center center;
            }
            &.-bgYellow{background-color:#ffdf0a; padding:sp(63) 0 sp(39); margin-top:sp(80);}
        }
        &_grid {margin-bottom:sp(70);}
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom:sp(-46);
        }
        .swiper-pagination-bullet{opacity:1; background-color:$lightblue; width:sp(12); height:sp(12); margin:0 sp(9);}
        .swiper-pagination-bullet-active{background-color:$pink; opacity:1;}
    }
    .sec5{font-size:0; margin-top:sp(-154); width:100vw;
        &_wrap{background:url(../../img/sec05_title.webp) no-repeat center top / 100% 100%;
            min-height:sp(1284); position:relative; padding:sp(229) 0 0;
        }
        &_text{@include spFontSize(30); font-weight:700; line-height:lh(30,48); color:$font_color; text-align:center;
            b{color:$pink;}
        }
        &_grid{display:flex; justify-content:center; align-items:flex-start; flex-wrap:wrap; margin-top:sp(50);
        }
        &_item{width:sp(470); margin:0 sp(10) sp(50);
            &_img{border-radius:sp(18); overflow:hidden; display:block;}
            .btn{margin-top:sp(-24);}
        }
    }
    .sec6{font-size:0; padding:sp(60) sp(30) sp(100);
        &_wrap{overflow:hidden; position:relative; padding:sp(13) sp(12); border-radius:sp(25);
            background-color:rgb(255, 255, 255); box-shadow:sp(5.435) sp(20.284) sp(34.8) sp(5.2) rgba(4, 0, 0, 0.11);
            &::before{content:''; width:100%; height:100%;
                border:sp(14) solid rgb(239, 67, 121); border-radius:sp(25); position:absolute; left:0; top:0; z-index:10; pointer-events:none;
            }
        }
        &_text{@include spFontSize(33); font-weight:700; line-height:lh(33,50); color:$font_color; letter-spacing:-0.035em; margin:sp(20) 0 0;
            b{color:$pink;}
        }
        &_texts{padding:sp(48) 0 sp(50);
            &_wrap{padding:0 sp(55);}
        }
        .btn.-s6{margin-top:sp(36);}
        .btn.-official{margin-top:sp(23);}
    }
    .sec7{font-size:0; width:100vw;
        h2,
        &_img{pointer-events:none;}
        &_step{position:relative; background:url(../../img/sec07_step.webp) no-repeat center top / 100% 100%;
            h3{position:absolute; pointer-events:none;}
            &_texts{@include spFontSize(33); font-weight:700; line-height:lh(33,50); min-height:sp(1212);
                padding:sp(346) 0 0 sp(236); color:$font_color;
                li{list-style:none;}
                li ~ li {
                    @include spFontSize(30); line-height:lh(30,50);
                }
                li:nth-child(2){margin-top:sp(94);}
                li:nth-child(3){margin-top:sp(98);}
                b{color:$pink;}
                .btn.-follow{margin-top:sp(24);}
                .btn.-shere{margin-top:sp(24);}
            }
        }
    }
    .sec8{font-size:0; padding-bottom:sp(103);
        &::before{content:''; width:100%; height:100%; background:#fff; position:absolute; left:0; top:0; z-index:-1;}
        &::after {content:''; width:100%; height:100%; background:repeating-linear-gradient(-45deg, rgba(#b3f5fa,0.6), rgba(#b3f5fa,0.6) sp(12), rgba(#fff,0.6) sp(12), rgba(#fff,0.6) sp(24)); position:absolute; left:0; top:0; z-index:-1;}
        &_title{padding-bottom:sp(50);}
        &_grid{padding:0 sp(33);}
        &_item{background-color:#fff; border:sp(7) solid #ffde00; border-radius:sp(20);
            box-shadow:sp(5.435) sp(20.284) sp(34.8) sp(5.2) rgba(4, 0, 0, 0.11); padding-bottom:sp(60);
            &_text{@include spFontSize(33); font-weight:700; line-height:lh(33,50);
                color:#5a5a5a; letter-spacing:-0.035em;
                margin:sp(50) sp(55) sp(54);
                b{color:$pink;}
            }
            &_title{height:sp(112); position:relative; background:#ffde00;
                display:flex; justify-content:center; align-items:center;
                & > img {height:sp(98); width:auto; position:relative; top:sp(-9);}
            }
            &_img{width:sp(710); display:flex; margin:sp(62) auto;}
            &.-item2{margin-top:sp(60);}
            &.-item2 .sec8_item_title{
                    & > img {height:sp(175); width:auto; top:sp(-4);}
                }
            &.-item3{margin-top:sp(60);}
            &.-item3 .sec8_item_title{
                    & > img {height:sp(159); width:auto; top:sp(-11);}
                }
        }
        &_pop{width:sp(205); position:absolute; right:sp(-32); top:sp(-182);}
    }
    .sec9{font-size:0; width:100vw; padding:sp(52) 0 sp(574); 
        background:url(../../img/sec09_bg.webp) no-repeat center bottom / 100% auto;
        &_title{position:absolute; left:50%; top:sp(382); z-index:10; width:sp(718); height:sp(118);
            transform:translate(-52%,0); 
        }
        &_item{background:url(../../img/sec09_base.webp) no-repeat center top / 100% 100%; position:relative;
            height:sp(939);  width:sp(959); margin:0 auto;box-shadow:sp(5.435) sp(20.284) sp(34.8) sp(5.2) rgba(4, 0, 0, 0.11);
            padding:sp(546) 0 0;
            &_text{@include spFontSize(33); font-weight:700; line-height:lh(33,50); color:#5a5a5a; font-feature-settings:"palt"; letter-spacing:-0.035em;
                margin:sp(28) auto sp(32); text-align:center;
                b{color:$pink;}
            }
            &_head{text-align:center;
                img{height:sp(70); width:auto; margin:0 auto;}
            }
            .btn.-download {margin:0 auto;}
        }
    }
}
//
@include pcBreak(){
    .contentsBody{max-width:inherit; padding:0; min-width:$contents_width; width:100%; overflow: hidden;
        &::before{background:url(../../img/bg@pc.webp) repeat center top / pc(21) pc(21);}
        .kv{
            &_wrap{min-width:$contents_width;}
            &_title{width: pc(786); height: auto; top: pc-(-116); left: 50.5%;}
            &_date{
                &::after {content:''; width:100%; height:100%; background:repeating-linear-gradient(-45deg, rgba(#ef4379,1), rgba(#ef4379,1) pc(6), rgba(#f2618f,1) pc(6), rgba(#f2618f,1) pc(12));}
            }
            &_ribon {margin:pc(27) pc(40) 0;    
                &_bg{ height:pc(227);}
                &_title{position:absolute; left:0; top:0; width:100%;
                    img{width:100%; height:auto;}
                }
                &_text{text-align:left; @include pcFontSize(21); line-height:lh(21,31); padding:pc(35) 0 0 pc(1180);
                }
                &_mask{
                    -webkit-mask-image:url("../../img/kv_copy_mask@pc.png"); mask-image:url("../../img/kv_copy_mask@pc.png");
                }
            }
        }
        .sec1{padding:pc(73) pc(100) 0;
            &_wrap{border-radius:18px; display:grid; grid-template-columns:50% 50%; width:100%;}
            &_col:nth-child(even) {padding:pc(40) pc(80) 0 pc(80);}
            &_text{@include pcFontSize(25); line-height:lh(25,39); padding:0 pc(12);}
            .btn{margin-top:pc(25); margin-left:pc(10);}
        }
        .sec2{margin-top:pc(53); padding:0;
            &_title{text-align:center; font-size:0; margin-bottom:pc-(-6);} 
            &_title img{height:pc(68);}
            &_wrap{ width:pc(1260); border-radius:pc(18);
                padding:pc(25); border:pc(6) solid $pink;
                display:grid; grid-template-columns:1fr 1fr; gap:pc(20);
                margin:0 auto;
            }
            &_col:nth-child(even) {padding:0 0;}
            &_item{ border-radius:pc(18); padding-bottom:pc(24);
                &:nth-child(2) {margin-top:0;}
            }
            &_text{@include pcFontSize(17); line-height:lh(17,27); padding:pc(20) pc(25);}
            .btn{margin-top:0;}
        }
        .sec3{margin-top:pc(45); padding-bottom:pc(92);font-size:0;
            &_wrap{min-width:$contents_width; width:100%; overflow:hidden;
                img{width:100vw; height:auto;min-width:$contents_width;}
                height:pc(826); padding-top:pc(276);
                .btn{margin-top:pc(40); margin-left:pc(120);}
                background: url("../../img/sec03_kv@pc.webp") no-repeat center top / 100% auto;
            }
            &_point{position: absolute; height: pc(30); top: pc(120);}
            &_kv_text{padding:0 0 0 pc(116);
                span{padding:0 pc(14); line-height:pc(50);
                    @include pcFontSize(28);
                }
                span ~ span{margin-top:pc(10);}
            }
            &_title{margin-bottom:pc(83); padding:0 pc(70); margin-top:pc-(-73); position:relative; z-index:10;}
            &_grid{display:grid; grid-template-columns:1fr 1fr 1fr; padding:0 pc(60); width: 100%;
                grid-template-rows:auto auto auto; align-items:start;
            }
            &_item{text-align:center; position:relative;
                &_img{width:pc(495);}
                h4{@include pcFontSize(31); line-height:lh(32,40); margin-top:pc(18); white-space:inherit;}
                .btn{margin-top:pc(32);}
            }
            &_item:nth-child(n+2){margin-top:0;}
            &_text{@include pcFontSize(21); line-height:lh(21,34); margin-top:pc(10);}
            &_pop{width:pc(182); height:pc(186); right:pc-(-72); top:pc(-36);}
        }
        .sec4{padding:pc(71) pc(0) pc(127); overflow:hidden;
            &::after{background:repeating-linear-gradient(-45deg, rgba(#b3f5fa,0.9), rgba(#b3f5fa,0.9) pc(12), rgba(#fff,0.9) pc(12), rgba(#fff,0.9) pc(24));}
            &_title{padding-bottom:pc(53);
                img{height:pc(71); width:auto;}
            }
            &_grid {margin-bottom:pc(87); position:relative; left:pc(-13);
                display:flex; justify-content:center; flex-direction:row-reverse; align-items:flex-end;
            }
            &_item{border-radius:pc(18); position:relative; width:pc(811); left:pc(17);
                &_title{height:pc(100);
                    img{height:pc(100); width:auto;}
                }
                &_text{@include pcFontSize(25); line-height:lh(25,35);
                    padding:pc(33) pc(40) 0 pc(55);
                }
                &.-bgYellow{padding:pc(64) 0 pc(0); margin:pc(0) 0 0 0; width:pc(824);
                    left:pc-(-17); height:pc(612);
                }
                .btn{margin:pc(43) 0 0 pc(55);}
            }
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
                bottom:pc-(-46);
            }
            .swiper-pagination-bullet{width:pc(12); height:pc(12); margin:0 pc(9);}
            margin-bottom:pc-(-119); font-size:0;
        }
        .sec5{font-size:0; margin-top:pc(-0); min-width:$contents_width; width:100%; overflow:hidden;
            &_wrap{background:url(../../img/sec05_title@pc.webp) no-repeat center top / 100% pc(863); width:100vw;
                min-width:$contents_width; min-height:pc(863); padding:pc(187) 0 0;
            }
            &_text{@include pcFontSize(28); line-height:lh(28,44);}
            &_grid{display:grid; margin-top:pc(50); width:100%;
                grid-template-columns:pc(576) pc(576) pc(576);
                grid-template-rows:auto auto; gap:pc(27);
            }
            &_item{width:pc(576); margin:0 pc(0) pc(0);
                &_img{border-radius:pc(18);}
                .btn{margin-top:pc-(-25);}
            }
        }
        .sec6{padding:pc(89) pc(106) pc(98);
            &_wrap{border:none; border-radius:pc(25); box-shadow:pc(5.435) pc(20.284) pc(34.8) pc(5.2) rgba(4, 0, 0, 0.11);
                position:relative; padding:0;
                &::before{display:none;}
            }
            &_text{@include pcFontSize(28); line-height:lh(28,42);
                margin:pc(15) 0 0; padding:0 pc(50) 0 pc(68);
            }
            &_texts{padding:pc(292) 0 pc(50); position:absolute; left:0; top:0; width:pc(968);
                &_wrap{padding:0 pc(0);}
            }
            &_head{padding-left:pc(20);
                img{height:pc(51); width:auto;}
            }
            .btn.-s6{margin-top:pc(40); margin-left:pc(65);}
            .btn.-official{margin-top:pc(20); margin-left:pc(65);}
        }
        .sec7{min-width:$contents_width; width:100%; overflow:hidden;
            &_grid{height:auto; display:flex; width:100%; line-height:1;
                min-width:$contents_width;}
            &_img{width:50%;}
            &_step{width:50%;
                background:url(../../img/sec07_step@pc.webp) no-repeat center top / 100% auto;
                h3{width:100%;}
                &_texts{@include pcFontSize(22.4); font-weight:700; line-height:lh(22.4,39.2); min-height:inherit;
                    padding:pc(298) 0 0 pc(274);
                    li ~ li {
                        @include pcFontSize(22.4); line-height:lh(22.4,39.2);
                    }
                    li:nth-child(2){margin-top:pc(58);}
                    li:nth-child(3){margin-top:pc(85);}
                    .btn.-follow{margin-top:pc(14);}
                    .btn.-shere{margin-top:pc(18);}
                }
            }
        }
        .sec8{padding-bottom:pc(73); overflow:hidden; 
            &::after{
            background:repeating-linear-gradient(-45deg, rgba(#b3f5fa,0.6), rgba(#b3f5fa,0.6) pc(12), rgba(#fff,0.6) pc(12), rgba(#fff,0.6) pc(24));
            }
            &_title{padding-bottom:pc(60); text-align:center; position:relative;
                &::before{content:''; width:200vw; background:$pink; height:pc(16); position:absolute; left:50%; top:0; transform:translate(-50%,0);}
                min-width:$contents_width;
                img{height:pc(66); width:auto; margin:0 auto;}
            }
            &_grid{padding:0 ;}
            &_item{border:pc(7) solid #ffde00; border-radius:pc(20); width:pc(1200); margin:0 auto;
                box-shadow:pc(5.435) pc(20.284) pc(34.8) pc(5.2) rgba(4, 0, 0, 0.11); padding-bottom:pc(38);
                position:relative; padding:pc(62) 0 pc(39); min-height:pc(426);
                &_text{@include pcFontSize(17); line-height:lh(17,28);
                    margin:pc(23) pc(60) pc(21) 0; padding-left:pc(560);
                }
                &_title{height:pc(66); text-align:left; padding-left:pc(560);
                    & > img {height:pc(69); top:pc(0); margin:0 auto 0 0;}
                }
                &_img{width:pc(490); margin:0; position:absolute; top:pc(44); left:pc(23);
                    z-index:10; pointer-events:none; padding:0; display:block;}
                &.-item2{margin-top:pc(50);}
                &.-item2 .sec8_item_title{
                        & > img {height:pc(111); width:auto; top:pc-(-16);}
                    }
                &.-item3{margin-top:pc(50);}
                &.-item3 .sec8_item_title{
                        & > img {height:pc(109); width:auto; top:pc-(-27);}
                    }
                .btn{position:absolute; bottom:pc(45);}
            }
            &_pop{width:pc(164); right:pc(16); top:pc-(-118);}
        }
        .sec9{min-width:$contents_width; width:100%; padding:0; overflow:hidden; background:#fff;
            &_wrap{padding:pc(52) 0 pc(837); position:relative; width:100vw; min-width:$contents_width;
                &::before{content:'';background:url(../../img/sec09_bg@pc.webp) no-repeat center bottom / 100% auto; position:absolute; left:50%; top:0; z-index:-1; width:100%; height:100%; transform:translate(-50%,0);}
            }
            &_title{left:auto; right:pc(110); top:pc(41); width:pc(528); height:pc(88); transform:translate(0,0);}
            &_item{background:url(../../img/sec09_base@pc.webp) no-repeat center top / 100% 100%;
                height:pc(481);  width:pc(1199); margin:0 auto;
                box-shadow:pc(5.435) pc(20.284) pc(34.8) pc(5.2) rgba(4, 0, 0, 0.11);
                padding:pc(0) 0 0;
                &_text{@include pcFontSize(17); line-height:lh(17,28); text-align:left;
                    padding-left:pc(567);
                    margin:pc(31) auto pc(37);
                }
                &_head{text-align:left; padding-left:pc(567); padding-top:pc(185);
                    img{height:pc(62); margin:0 auto 0 0;}
                }
                .btn.-download {margin:0 auto 0 pc(567);}
            }
        }
    }
}
.contentsBody{
    .kv_wrap img[src*='kv_img']{transform: scale(1.2);
    transform-origin: center center; position: relative; z-index: 0;}
    .kv_title img{transform: scale(0.6); opacity: 0; transform-origin: center center; filter: brightness(1.5);}
    .kv_ribon {opacity: 0; transform: translate(0,5dvh) scale(1.0);}
    @at-root .windowloaded .contentsBody .kv_wrap img[src*='kv_img']{transform: scale(1); transition: 2.0s 0.15s $easeOutCubic;}
    @at-root .windowloaded .contentsBody .kv_title img {opacity: 1; transform: scale(1); transition: 1.0s 0.66s $easeOutBack; filter: brightness(1);}
    @at-root .windowloaded .contentsBody .kv_ribon {transform:translate(0); opacity: 1; transition: 1s 1.66s $easeOutQuart;}
    .sec3 .sec3_wrap .sec3_kv,
    .sec3 .sec3_wrap .sec3_kv_text,
    .sec3 .sec3_wrap .btn{opacity: 0; transform: translate(0,5dvw) scale(1.0);}
    .sec3 .sec3_wrap .animated ~ .sec3_kv,
    .sec3 .sec3_wrap .animated ~ .sec3_kv_text,
    .sec3 .sec3_wrap .animated ~ .btn{opacity: 1; transform: scale(1); transition: 1.2s 0.1s $easeOutQuart;}
    .-e{opacity: 0; transform: translate(0,5dvh) scale(1.0);}
    .-e.animated{opacity: 1; transform: translate(0); transition:opacity 0.8s 0s $easeOutQuart,transform 0.6s 0s $easeOutQuart;}
}
@include spBreak(){
    .contentsBody{
        .sec1{opacity: 0; transform: translate(0,3dvh) scale(1.0);}
        @at-root .windowloaded .contentsBody .sec1 {opacity: 1; transform: scale(1); transition: 0.8s 1.99s $easeOutQuart;}
        .-eSp{opacity: 0; transform: translate(0,3dvh) scale(1.0);}
        .-eSp.animated{opacity: 1; transform: translate(0); transition:opacity 0.8s 0s $easeOutQuart,transform 0.6s 0s $easeOutQuart;}
    }
}
@include pcBreak(){
    .contentsBody{
        .kv_ribon {opacity: 0; transform: translate(0,5dvh) scale(1.0);}
        .sec3 .sec3_wrap .sec3_kv,
        .sec3 .sec3_wrap .sec3_kv_text,
        .sec3 .sec3_wrap .btn{opacity: 0; transform: translate(-3dvw,0) scale(1.0);}    
        .sec3 .sec3_wrap .animated ~ .sec3_kv,
        .sec3 .sec3_wrap .animated ~ .sec3_kv_text,
        .sec3 .sec3_wrap .animated ~ .btn{opacity: 1; transform: scale(1); transition: 1.0s 0.1s $easeOutQuart;}
        .-e{opacity: 0; transform: translate(0,5dvh) scale(1.0);}
        .-ePc{opacity: 0; transform: translate(0,5dvh) scale(1.0);}
        .-ePc.animated{opacity: 1; transform: translate(0); transition:opacity 0.8s 0s $easeOutQuart,transform 0.6s 0s $easeOutQuart;}
    }
}